<div align=left style="width: 200; height: 80px; overflow: hidden">
    <img src=http://static1.squarespace.com/static/571446ff60b5e92c3a2b4249/57d8a40b9de4bb459f731cf3/58cb2f229de4bb4a049d38c2/1505340359463/teselaGenlogo.jpg align=right width=200>
</div>

# Hello World! (TEST module)

This notebook is intended to show how to use the Teselagen Python's client to access the TEST module.

In [1]:
import json
from pathlib import Path
import platform

import matplotlib
import matplotlib.pyplot as plt
import pandas as pd

from teselagen.api import TeselaGenClient
from teselagen.utils.utils import get_project_root

plt.style.use('seaborn-colorblind')

print(f"python version     : {platform.python_version()}")
print(f"json version       : {json.__version__}")
print(f"pandas version     : {pd.__version__}")
print(f"matplotlib version : {matplotlib.__version__}")

python version     : 3.9.13
json version       : 2.0.9
pandas version     : 1.4.2
matplotlib version : 3.5.2

## Connect and Login

In [2]:
# Connect to your teselagen instance by passing it as the 'host_url' argument of TESTCLient(host_url=host_url)
#host_url = "https://your.teselagen.instance.com"
#client = TESTClient(host_url = host_url)
client = TeselaGenClient()
# The following command will prompt you to type username (email) and password
client.login()
# Alternatively you can add credential information in the arguments
#client.login(username="your@email", password="ZZZ")

Client ready. Please login
Session active at https://rc.teselagen.com

## Laboratories

Laboratories are used to separate data access into groups of users. When you add an experiment into a lab it will only be seen by users that have access to that Lab.

Now we list all available laboratories

In [3]:
labs = client.get_laboratories()
display(labs)

[{'id': '6a34bee2-9cc2-4ae4-92b3-5673c13cfe1b',
  'name': 'Teselagen Example Lab'},
 {'id': 'eafd0b92-9369-4f80-81c6-661dc8ef8046', 'name': 'Example Lab'},
 {'id': 'a8acfc8f-98c5-4a32-9fb5-06fa0a4744fe', 'name': '3 Lab'},
 {'id': '91a368cc-bb00-4359-9e8d-2525cc667eec', 'name': 'Green Lab'},
 {'id': 'cfdb5d8e-3cda-43dd-88e5-76bbd5652bcc', 'name': '1 Lab'},
 {'id': 'd63a9bba-a04a-40d9-877c-dddf004f8038', 'name': 'QA Lab'},
 {'id': '9de9ab86-2feb-4f09-97a5-ad8ede3f12cb', 'name': 'Xime Lab'},
 {'id': '4a9cf778-d017-401d-b26a-5669a32a3a9a', 'name': 'User Lab'},
 {'id': '6131985c-661c-407b-ac86-16cc148712d9', 'name': 'TV_Lab'},
 {'id': 'b825f27f-2477-49a6-a33b-65175ad372ef', 'name': 'admin lab'},
 {'id': '04522bbb-f5cd-4ffe-9582-48a2b264d629', 'name': 'Davis Lab 2'},
 {'id': '449103b4-6274-46ca-a203-4ac312ea4947', 'name': 'Davis Lab'},
 {'id': 'b2fdf0ed-fd2e-4c58-9faa-1688dce2d200', 'name': 'CLI TEST'},
 {'id': '08514bfe-b53e-4282-b5ca-31c6fd3beaa1', 'name': 'The Test Lab'},
 {'id': '3743ea9d-3c29-45c3-98eb-ec8bf3988d4c', 'name': 'Teselagen-AR'},
 {'id': '3cb272f1-fa5a-46be-8fcb-4ef2a0a12d19', 'name': 'SUPER LAB'}]

At the next cell a lab is selected. The remaining actions of this notebook will be done inside that lab.

In [4]:
# Select a Laboratory
client.select_laboratory(lab_name="Example Lab")

Selected Lab: Example Lab

## Experiments

Experiments represents all the studies inside a laboratory. Each experiment can contain several Assays. The **get_experiments** function returns a list of dictionaries that contain experiments information.

In [5]:
# Get My Experiments from the selected Laboratory.
experiments = client.test.get_experiments()
# Print some of them
for exp in experiments:
    print(exp)

{'id': 'ae879d18-3731-4937-ae58-3b1c18df2685', 'name': 'Common Experiment'}
{'id': 'c6e7424c-e2c3-4949-8cb4-1d756da4f45a', 'name': 'QA 6495'}
{'id': 'c275ba2b-a282-4970-85a6-b74ad5b84405', 'name': 'QA 6793'}
{'id': '40720aa2-398c-4883-83fb-2e0ac35ecacb', 'name': 'New Experiment'}
{'id': 'a34d31c7-c129-40a3-890a-c9ec0886bd6a', 'name': 'floo'}
{'id': '43397bc5-042d-4289-abfa-465d4fe190bd', 'name': 'foo'}

In [6]:
# Create a new Experiment in the selected Laboratory.
new_experiment = client.test.create_experiment(experiment_name="Jupyter Experiment")
print(new_experiment)

{'id': '2e1ae17d-6ed1-4026-b7dc-00f4cc9a1a4d', 'name': 'Jupyter Experiment'}

## Assays

The assay object allows you to group data obtained from the same *protocol*.

Likewise other getters, the get_assays output can be easily parsed into a pandas dataframe. Here we show you how:

In [7]:
# Get All Assays From all experiments in the selected Laboratory
assays_dataframe = pd.DataFrame(client.test.get_assays())
# Or, alternatively, if you want to use id as index in the dataframe
#assays_dataframe = pd.DataFrame.from_records(client.get_assays(), index='id')
display(assays_dataframe)

,id,name,experiment
0,a7c46c68-6009-49fb-8f21-ed412429a66b,Common Assay,"{'id': 'ae879d18-3731-4937-ae58-3b1c18df2685',..."
1,9c29972e-f9c9-4667-a186-475c195d7417,QA6495,"{'id': 'c6e7424c-e2c3-4949-8cb4-1d756da4f45a',..."
2,5b728f44-661f-4255-9873-06a2bc3dbaa1,QA6793,"{'id': 'c275ba2b-a282-4970-85a6-b74ad5b84405',..."
3,2ad97c41-7d42-42d8-9786-66dc7ff5b1ca,QA6793,"{'id': 'c275ba2b-a282-4970-85a6-b74ad5b84405',..."
4,6121505b-e3c7-4919-b4e4-e6132b069824,ASas,"{'id': 'c275ba2b-a282-4970-85a6-b74ad5b84405',..."
5,cb7d5ed2-3443-4801-a84c-0eb901dcb4bc,test,"{'id': 'c275ba2b-a282-4970-85a6-b74ad5b84405',..."
6,a9bce351-4b76-41d7-8e77-a8b525eeeb78,New assay,"{'id': '40720aa2-398c-4883-83fb-2e0ac35ecacb',..."
7,dc64175a-18b7-4416-9039-fb6a44ce32b2,QA Assay,"{'id': 'ae879d18-3731-4937-ae58-3b1c18df2685',..."
8,9604cf12-24a0-4742-a35f-4b6391aebee9,Delete Assay,"{'id': 'ae879d18-3731-4937-ae58-3b1c18df2685',..."

You can also create assays using the client

In [8]:
# Create a new Assay within a new experiment
new_assay = client.test.create_assay(experiment_id=new_experiment['id'], assay_name='Jupyter Assay')
print(new_assay)

{'id': 'fa5a73eb-55f1-4e61-9859-f3888f87f8e3', 'name': 'Jupyter Assay', 'experiment': {'id': '2e1ae17d-6ed1-4026-b7dc-00f4cc9a1a4d', 'name': 'Jupyter Experiment'}}

And you can list all assays from an experiment

In [9]:
# Get All Assays From Experiment with ID="experiment_id"
assays = pd.DataFrame(client.test.get_assays(experiment_id=new_experiment['id']))
display(assays)

,id,name,experiment
0,fa5a73eb-55f1-4e61-9859-f3888f87f8e3,Jupyter Assay,"{'id': '2e1ae17d-6ed1-4026-b7dc-00f4cc9a1a4d',..."

## Files

The TEST module can also store files. Files are shared between users of the same lab and can be associated to specific assays.

In [10]:
# Get All Files info from the selected Laboratory
pd.DataFrame(client.test.get_files_info()).head()
# You can fetch info from a specific assay using the assay_id argument
# display(pd.DataFrame(client.get_files(assay_id=new_assay['id'])))

,id,name,importStatus,experiment,assay
0,1a586e7b-376c-4553-9cb9-7b50096968bf,Assay A.csv,MAPPING,None,None
1,0054603b-87f8-415b-8f8a-875d5b121f7e,test_module_example_20_1_aliquots_multi_meas.csv,FINISHED,None,None
2,6788554e-5d6f-4c48-b5cb-8b677e2100f7,test_module_example_100_aliquots_multi_meas.csv,FINISHED,None,None
3,da5bc36a-551f-4a5a-b694-4be6f7bf0cb7,test_module_example_100_aliquots_multi_meas.csv,FINISHED,None,None
4,eb3b7dba-7cce-4c8b-92ee-2a9b0626a0a0,test_module_example_3_subject_2_meas_refdim.csv,FINISHED,None,None

In [11]:
# Upload a File with an Assay.
filepath = str(get_project_root() / "teselagen/api/tests/example_file.csv")
new_file_info = client.test.upload_file(filepath=filepath, assay_id=new_assay['id'])
# Upload a File without an Assay.
#new_file_info = client.upload_file(filepath="./test_module_example.csv")
print(new_file_info)

{'id': '209540c8-1e2e-426e-a0a5-5695ad8ef3de', 'name': 'example_file.csv', 'importStatus': 'INPROGRESS', 'experiment': {'id': '2e1ae17d-6ed1-4026-b7dc-00f4cc9a1a4d', 'name': 'Jupyter Experiment'}, 'assay': {'id': 'fa5a73eb-55f1-4e61-9859-f3888f87f8e3', 'name': 'Jupyter Assay'}}

In [12]:
# Gets File data contens
binarydata = client.test.download_file(file_id=new_file_info['id'])
df_file = pd.read_csv(binarydata, sep=",")
df_file.head()

,Line,Teselagen Example Descriptor 1,Teselagen Example Descriptor 2,Teselagen Example Target,Teselagen Example Target Metric
0,1,A0,B1,1,ug/mL
1,2,A0,B2,2,ug/mL
2,3,A0,B3,3,ug/mL
3,4,A0,B5,5,ug/mL
4,5,A0,B6,6,ug/mL

## Delete elements

You can delete an experiment to remove all its assays. Files work differently and you need to explicitly delete them. In the next cells we will download each object specifically:

In [13]:
# Deletes a File
client.test.delete_file(file_id=new_file_info['id'])

{'id': '209540c8-1e2e-426e-a0a5-5695ad8ef3de'}

In [14]:
# Delete an Assay
client.test.delete_assay(assay_id=new_assay['id'])

{'id': 'fa5a73eb-55f1-4e61-9859-f3888f87f8e3'}

In [15]:
# Delete an Experiment from the selected laboratory.
client.test.delete_experiment(experiment_id=new_experiment['id'])

In [16]:
# Delete all experiments with the name Jupyter Experiment
# (if any remains due to uncompleted executions of the notebook)
# experiments = client.get_experiments()
# for exp in experiments:
#     if exp['name'] == "Jupyter Experiment":
#         client.delete_experiment(experiment_id=exp['id'])